* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
main {
    height: 98.28617vh; 
    background-color: aqua; 
    padding: 12cqmax 0;
}

#cityInput {
    padding: 0.78em;
    background-color: rgb(30, 255, 0);
    /* justify-content: space-evenly; */
    justify-content: center;
}
#cityInput>input {
    box-sizing: border-box;
    border-radius: 50em;
    background-color: brown;
    min-height: 3em;
    max-height: 4.8em;
    padding: 0 2em;
    margin: -0.4em 0;
    font-size: 1.12em;
}
#cityInput>div {
    width: 4.6em;
    height: 4.6em;
    border-radius: 50em;
    text-align: center;
    background-color: rgb(255, 0, 200);
}
#cityInput>div>h3 {
    visibility: hidden;
}
#searchLogo {
    margin: 1.25em;
    width: 3em;
    opacity: 90%;
}
@media screen and (max-width: 360px) {
    #cityInput>input {
        width: 80vw;
    }
    #cityInput>div {
        width: 75vw;
        height: 2.8em;
        margin: 0 8% ;
        display: flex;
        border-radius: 1em;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.749);
    }
    #searchLogo {
        margin: 0.25em 0.8em;
        width: 2.2em;
        height: 2.2em;
        opacity: 90%;
    }
    #cityInput>div>h3 {
        visibility: visible;
        font-size: 1.4em;
        margin: 0.4em 0;
        opacity: 80%;
    }
}
@media screen and (min-width: 360px) and (max-width: 1200px) {
    #cityInput {
        display: flex;
    }
    #cityInput>input {
        width: 50vw;
    }
}
@media screen and (min-width: 1201px) {
    #cityInput {
        display: flex;
    }
    #cityInput>input {
        width: 600px;
    }
}



#weatherDisplay {
    text-align: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* vertical-align: middle; */
    background-color: crimson;
}
#weatherDisplay>h2 {
    font-size: 5em;
    margin: 0;
}
#weatherDisplay>h3 {
    font-size: 2.5em;
    margin: 0;
}



#otherDetails {
    /* width: max-content;/ */
    display: flex;
    justify-content: center;
    background-color: rgb(51, 0, 255);
}
#otherDetailsInside {
    display: flex;
    min-width: 360px;
    max-width: 1000px;
    /* pad */
    /* justify-content: space-evenly; */
    padding: 2em 8em;
    /* align-self: center; */
    justify-content: space-evenly;
    /* justify-content: space-around; */
    background-color: rgb(255, 255, 0);
}
#otherDetailsInside>h4 {
    /* margin: 0; */
    font-size: 15em;
}
.detailContainer {
    display: flex;
    /* padding: 0; */
    /* justify-content:space-evenly; */
    /* text-align: center; */
    /* vertical-align: middle; */
    background-color: chocolate;
}
.detailContainer>img {
    margin: 1em 0.5em;
    position: relative;
    width: 3.5em;
    height: 3.5em;
}
.detailContainer>h3 {
    /* margin: 0; */
    font-size: 2em;
}
.otherDetail {
    display: flex;
    margin: 0 5%;
    flex-direction: column;
    background-color: rgb(255, 0, 255);
}
.otherDetail>h4 {
    margin: 0;
    font-size: 1.25em;
}
